body {
	background-color: lightblue;
}

h1,
h2 {
	color: #444;
}

#delete-btn {
	color: red;
	font-size: 32px;
	font-family: Helvetica;
}

#delete-btn:hover {
	color: black;
}

tr:hover {
	background-color: white;
}

th {
	font-weight: bold;
}

